/*
Main = #8bc348
Primary = #AEDD94
Text = #444444
 */

/* Main Color */
.text-main{
    color: rgb(139, 195, 70) !important;
}
.text-primary{
    color: #AEDD94 !important;
}
.text-normal{
    color: #444444 !important;
}
h6{
    font-size: 1.3rem;
}
.main-color{
   background-color: #8bc348 !important; 
}

/*wave Main*/
    .waves-effect.waves-main .waves-ripple {
     /* The alpha value allows the text and background color
     of the button to still show through. */
      background-color: rgba(139, 195, 70,1);
    }

/* 
<---------------->
| NAVBAR SECTION |
<---------------->
*/

/* navbar*/
.nav-style {
    background-color: #8bc348;
}

/*Fix the navbtn margin*/
@media screen and (max-width:600px){
    .navBtn i{
        margin-top: 1rem;
    }
}
/*Farm logo custom */
#farm-logo{
    margin-top: 1em;
    padding-bottom: 0em;
}

/*!!! sideNav  header !!!*/

/* fix header size */
#nav-side h4{
    margin-top: -0.5em !important;
    color: #8bc348;
}
/* disable Header cover & active effect */
.header li:hover,
.header li:active{
    background-color: white !important;
}


/*!!! sideNav  Item !!!*/

/* Navbar text color fix */
.side-nav a{
    color:#8bc348 !important;
    text-align: center;
}
.side-nav a:hover{
    color: white !important;
    
}

/* Nav item fix cover and active fx */
.side-nav li.active,.side-nav li:hover{
    background-color: #AEDD94 ;
}

/*
<------------------->
| DASHBOARD SECTION |
<------------------->
*/
.row-fix{
    margin-bottom: -0.3rem !important;
}

/* padding fix */
.mar-h3{
    margin-top: 0rem;
    margin-bottom: 0rem;
}

/*FARM LIST SECTION */
.farm-list{
    padding: 0 0 0 0 !important;
}

.farm-list img{
    float: left;
    vertical-align: middle;
    padding-right: 10px !important;
}
.farm-list h4{
    margin:0 0 0 0 !important;
    padding-top: 10px !important;
}
.farm-list .switch{
    float: right;
    padding-right: 0.8rem;
    padding-top:  0.8rem;
}